@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }

.App {
  text-align: center;
}

.center{
   display: flex;
   justify-content: center;
}


  
  h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #01000b;
    padding: 4px;
  }



